@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Hide scrollbars */
}

/* Background Video */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Cover entire viewport */
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure it is behind content */
}

/* Container for the form */
.container {
    background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Headline Styling */
h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

label {
    font-size: 16px;
    color: #555;
    display: block;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
}

/* Button Styling */
button {
    width: 100%;
    padding: 10px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8B0000;
}

.error-msg {
    display: block;
    margin-top: 10px;
    color: #000;
    font-size: 15px;
    transition-delay: 0ms;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h3 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
